.branch-location {
    height: 50px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6rem;
    color: #f5c1cf;
}

.branch-location ::deep svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

@media (max-width: 991.98px) {
    .branch-location {
        padding-left: 16px;
    }
}

@media (max-width: 47.99rem) {
    .branch-location {
        font-size: 0.8125rem;
        line-height: 1.2rem;
    }

    .branch-location ::deep svg {
        width: 16px;
        height: 16px;
    }
}