.app-header {
    height: 140px;
    position: sticky;
    top: 0;
    z-index: 40;
    background-color: oklch(0.233 0.0031 17.38);
}

.app-header-top {
    height: 80px;
    padding: 32px 96px;
}

.app-header-logo {
    width: 80px;
    height: 80px;
}

.app-header-actions {
    gap: 36px;
}

.app-header-divider {
    margin: 0px;
    color: #718096;
}
